<p id="notice"><%= notice %></p>

<p>
  <strong>Sonic2fire@gmail.com:</strong>
  <%= @sonic2ifre.sonic2fire@gmail.com %>
</p>

<%= link_to 'Edit', edit_sonic2ifre_path(@sonic2ifre) %> |
<%= link_to 'Back', sonic2ifres_path %>
